# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. C
3. Java

<b>Objectives:</b>
- C++
- Julia
- Java-ML

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. R ggplot
3. Pandas

| Data Science Tools |
|----|
| Apache Spark |
| Caffe Python |
| CDLA |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Choi JeongAn